/* src/App.css */
body {
  background-color: #282c34;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 640px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
}

.webcam,
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This is the fix for mirroring the camera view */
.canvas {
  transform: scaleX(-1);
}

.webcam {
  visibility: hidden;
}
